<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICARUS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Michroma&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="container">
        <main>
            <div>
                <h1>ICARUS</h1>
                <span class="insert" for="">insira uma imagem para redimensionar e comprimir</span>
            </div>
            <section class="up-section">              
                <form name="formulario" action="/api/upload" method="POST" enctype="multipart/form-data">
                    <section class="btn-sec">
                        <input name="image" type="file" id="inputFile">
                        <label class="btn" for="inputFile">upload</label>
                        <a class="download-link done" href=""></a>
                    </section> 
                </form>
            </section>
        </main>
    </section>

    <span class="made">Made by Manel Códigos ☕</span>
    
    <script src="/scripts/main.js"></script>
</body>
</html>